In [1]:
import pandas as pd

In [3]:
train = pd.read_csv('../data/train_ai_total.csv')
train

                                    text  target  type
0        나이키 한정판 1억어치 되판 아들… 임원 엄마 옷 벗겼다       1     0
1           모든 선수 화룡하늘 라바리니…어린 선수 발쩌는 수확       5     2
2        악樂인전 송가인 생애 처 티팝 또전 소름 돋께 하고 시퍼       3     1
3              AK몰 썬물하기 서비스 도입…설 선물도 언택트       0     2
4       사립때 총장·이사장 엄무추진비 공개된다… 회계 투명성 제고       2     1
...                                  ...     ...   ...
169003         이렁년 전 진주에 생태게 올라이느로 만나보세요       0     2
169004          배그 국쩨대회 PGI.에스 오일 한국써 개막       5     1
169005       함소원 결별설 진화 대하뇌구긴 추련 스트레스 마나       2     2
169006      바이든 캐럴라인 케네디에 한구긴과 우린 마니 달맏따       4     2
169007    반도체부터 챙긴 문승욱 싸넙짱관…판교를 팸니스 요라므로       1     2

[169008 rows x 3 columns]

In [8]:
train[train.text.duplicated()]

                                    text  target  type
883         여론조사 보완핻따지마 니버네도 샤이 트럼프 과소평가       4     1
1316     프리뷰 사연패 벼랑 몰린 서울 강등권 대구 잡꼬 반전할까       5     2
1950          콕 찌버 이나견 대표님…이나겨네 힘 시러주는 文       6     2
2311       합창 교향고그로 태어나느 나리랑… 동서남부 콰함 노래       3     2
2492              후보 확쩡까지 사개월… 대선 행보 초익끼       6     1
...                                  ...     ...   ...
169002  찬성 오느로일 미복뀌 저녁...이피엠  중 네 번째 군필돌       6     1
169004          배그 국쩨대회 PGI.에스 오일 한국써 개막       5     1
169005       함소원 결별설 진화 대하뇌구긴 추련 스트레스 마나       2     2
169006      바이든 캐럴라인 케네디에 한구긴과 우린 마니 달맏따       4     2
169007    반도체부터 챙긴 문승욱 싸넙짱관…판교를 팸니스 요라므로       1     2

[46726 rows x 3 columns]

In [9]:
ai=pd.read_csv('../data/train_ai_type.csv')
ai_per=pd.read_csv('../data/train_ai_per.csv')
ai_des=pd.read_csv('../data/train_ai_des.csv')

In [15]:
ai_total = pd.concat([ai,ai_per,ai_des],ignore_index=True)[['text','target','type']]
ai_total

                                            text  target  type
0                中 저가 TV 국내 상륙 본격화…75형이 삼성·LG 반값       0     0
1        알기 쉬운 식품·의료제품 이야기 운동량 많지만 구이용으로 훌륭한 부채살       0     0
2                     K반도체 미래·K배터리 운명 바이든 손에 달렸다       0     0
3        합천 안심 서비스 앱 전 국민 사용하는 국민안심서비스 앱으로 명칭 변경       0     0
4                   레고 활용 고품질 코딩 수업 이제 집에서도 간편하게       0     0
...                                          ...     ...   ...
169003  특꼬직 꼬용보험 노코 민주당재게 갈뜽 겨콰…재게 채용시장 지닙짱병 노파저       6     2
169004                궁미네힘 사무총장 삼선 한기호 정채귀이장 김도읍       6     2
169005         순방 마지마근 성당... 문 대통녕 부부에 성당 사랑 발자취       6     2
169006   단독 투표이리 사월 시보일 서우 릴부서 스물한대 총선 공보물 봉투 사용       6     2
169007               이해찬게 순풍까지 타 니재명…경서년기로네 눤칙때로       6     2

[169008 rows x 3 columns]

In [21]:
ai[ai.text.duplicated()]

       Unnamed: 0                               text  target  type
322         94420  네이버 어제 서비스 장애 디도스 공격 영향…이후에 오류 발생       0     0
1029         8913        삼성전자 동남아에서 네오 QLED 본격 판매 개시       0     0
1878        58063           세계 최초 수소용품 검사지원센터 건립 본격화       0     0
1943        20660  돼지고기 원산지 판별 4일→5분 획기적 단축…농관원 키트개발       0     0
2468        20664       삼성전자서비스 전국서 가전 세척·점검 재능기부 봉사       0     0
...           ...                                ...     ...   ...
54581       12524     속보 문대통령 바이든 美대통령과 첫 정상회담 위해 출국       6     0
55271       28964        원희룡 지방선거 불출마...무주공산 도지사 주인은       6     0
55684       29433               설 명절 최대 화두 제2공항 여론조사       6     0
56045      132646      이재명·정세균·추미애 오늘 與 대선경선 예비후보 등록       6     0
56047      116743      야권 승리 또박또박 강조한 안철수 김종인 지적에 반박       6     0

[197 rows x 4 columns]

In [22]:
ai_per[ai_per.text.duplicated()]

       Unnamed: 0                               text  target  type
322         94420  네이버 어제 서비스 장애 디도스 공겨 경향…이후에 오류 발생       0     1
1029         8913        삼성전자 동나마에서 네오 QLED 본격 판매 개시       0     1
1878        58063           세계 최초 수소용품 검사지원센터 걸립 뽄겨콰       0     1
1943        20660  돼지고기 원산지 판별 사일→오분 획끼적 딴축…농과눤 키트개발       0     1
2468        20664       삼성전자서비스 전국써 가전 세척·점검 재능기부 봉사       0     1
...           ...                                ...     ...   ...
54581       12524     속뽀 문대통녕 바이든 美대통녕과 첟 쩡상회다 뮈해 출국       6     1
55271       28964        원히룡 지방선거 불출마...무주공산 도지사 주이는       6     1
55684       29433               설 명절 최대 화두 제이공항 여론조사       6     1
56045      132646      이재명·정세균·추미애 오늘 與 대선경서 녜비후보 등녹       6     1
56047      116743      야권 승니 또박또박 깡조하 난철수 김종인 지저게 반박       6     1

[197 rows x 4 columns]

In [23]:
ai_des[ai_des.text.duplicated()]

       Unnamed: 0                               text  target  type
322         94420  네이버 어제 서비스 장애 디도스 공겨 경향…이후에 오류 발생       0     2
1029         8913        삼성전자 동나마에서 네오 QLED 본격 판매 개시       0     2
1878        58063           세게 최초 수소용품 검사지원센터 걸립 뽄겨콰       0     2
1943        20660  돼지고기 원산지 판별 사일→오분 획끼적 딴축…농과눤 키트개발       0     2
2468        20664       삼성전자서비스 전국써 가전 세척·점검 재능기부 봉사       0     2
...           ...                                ...     ...   ...
54581       12524     속뽀 문대통녕 바이든 美대통녕과 첟 쩡상회다 뮈해 출국       6     2
55271       28964        원히룡 지방선거 불출마...무주공산 도지사 주이는       6     2
55684       29433               설 명절 최대 화두 제이공항 여론조사       6     2
56045      132646      이재명·정세균·추미애 오늘 與 대선경서 녜비후보 등녹       6     2
56047      116743      야권 승니 또박또박 깡조하 난철수 김종인 지저게 반박       6     2

[197 rows x 4 columns]

In [24]:
ai_total[ai_total.text.duplicated()]

                                           text  target  type
322           네이버 어제 서비스 장애 디도스 공격 영향…이후에 오류 발생       0     0
1029                삼성전자 동남아에서 네오 QLED 본격 판매 개시       0     0
1878                   세계 최초 수소용품 검사지원센터 건립 본격화       0     0
1943          돼지고기 원산지 판별 4일→5분 획기적 단축…농관원 키트개발       0     0
2468               삼성전자서비스 전국서 가전 세척·점검 재능기부 봉사       0     0
...                                         ...     ...   ...
168995              조구 균서결·유승민·곽쌍도는 문 대통녕에 감사해야       6     2
168996           김부겸 델타 벼니 확싼 시 백씬 접쫑자도 마스크 의무화       6     2
168998        리설주 일려녀 마네 모습 뜨러내…김정은과 부부동반 공연 괄람       6     2
168999                     권칠승 장관 소셜벤처기업 쎈시주 방문       6     2
169006  단독 투표이리 사월 시보일 서우 릴부서 스물한대 총선 공보물 봉투 사용       6     2

[46726 rows x 3 columns]

In [29]:
ai_remove = ai_total.drop_duplicates('text')
ai_remove

                                            text  target  type
0                中 저가 TV 국내 상륙 본격화…75형이 삼성·LG 반값       0     0
1        알기 쉬운 식품·의료제품 이야기 운동량 많지만 구이용으로 훌륭한 부채살       0     0
2                     K반도체 미래·K배터리 운명 바이든 손에 달렸다       0     0
3        합천 안심 서비스 앱 전 국민 사용하는 국민안심서비스 앱으로 명칭 변경       0     0
4                   레고 활용 고품질 코딩 수업 이제 집에서도 간편하게       0     0
...                                          ...     ...   ...
169002              변창흠 국토장관 사에표명…문재인 대통녕 사실상 수용       6     2
169003  특꼬직 꼬용보험 노코 민주당재게 갈뜽 겨콰…재게 채용시장 지닙짱병 노파저       6     2
169004                궁미네힘 사무총장 삼선 한기호 정채귀이장 김도읍       6     2
169005         순방 마지마근 성당... 문 대통녕 부부에 성당 사랑 발자취       6     2
169007               이해찬게 순풍까지 타 니재명…경서년기로네 눤칙때로       6     2

[122282 rows x 3 columns]

In [32]:
ai_remove = ai_remove.sample(frac = 1, random_state=42)
ai_remove.to_csv('../data/AIhub.csv',index=False)

In [33]:
train_data = pd.read_csv('../data/train.csv')
wrong = pd.read_csv('../data/validation/wrong_dev.csv')

In [47]:
x=pd.DataFrame()
x=pd.merge(train_data,wrong,how='left',on='ID')
x=x[x.text_y.isna()].loc[:,'ID':'date_x']
x.columns= train_data.columns[1:]
x

,ID,text,target,url,date
0,ynat-v1_train_04767,해외서 산 요트타고 권총 밀반입…출입국 관리 구멍,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2020.12.07. 오후 12:04
1,ynat-v1_train_01284,신형 유전자 가위 기능 확인…유전병 치료 기대,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.06.07. 오전 12:01
2,ynat-v1_train_06255,지폐 속 사임당의 그림,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.01.24. 오후 3:50
3,ynat-v1_train_03516,이란 새 대공방어 시스템 공개…안보 위해 군사력 증강,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.06.10. 오후 4:30
4,ynat-v1_train_03471,北 유엔 채택 인권결의에 모든 대응조치 강구 반발,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.11.17. 오후 5:16
...,...,...,...,...,...
4893,ynat-v1_train_00657,농군 패션으로 8연패 끊은 LG…마지막까지 아찔,5,https://sports.news.naver.com/news.nhn?oid=001...,2018.08.10 23:16
4894,ynat-v1_train_04782,미 텍사스주 기술사회와 기술사 상호인정 협정 체결,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.03.10. 오후 12:00
4895,ynat-v1_train_03449,특고·자영업자에 150만원 지원금 신청 한달 만에 108만6천건,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2020.07.02. 오전 10:14
4897,ynat-v1_train_04425,여자농구 KB 27일 청주 소나무길 플리마켓에서 자선 바자,5,https://sports.news.naver.com/news.nhn?oid=001...,2018.10.26 11:10
4899,ynat-v1_train_05034,거제 저도 3개월간 출입제한…동계정비 후 내년 3월 1일 재개방,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.11.30. 오전 9:05