In [1]:
import pandas as pd

In [2]:
total = pd.read_csv('../data/train/Total_train.csv')
change = pd.read_csv('../totalWrong_p2g제거.csv')

In [41]:
change2 = pd.merge(total['ID'], change.loc[:,:'url'],how='left', on='ID')
change2.update(total,overwrite=False)
change2.target = change2.target.astype('int')
change2.to_csv('../data/train/change_g2p.csv')

In [38]:
total.head()

,ID,text,target,url,date
0,ynat-v1_train_00000,개포2단지 분양 앞두고 개포지구 재건축 불붙어,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.03.16. 오전 11:37
1,ynat-v1_train_00001,삼성전자 KBIS 2018서 셰프컬렉션 선보여,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.10. 오전 8:33
2,ynat-v1_train_00002,LG G6 사면 BO 이어폰이 단돈 5천원,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.04.30. 오전 10:00
3,ynat-v1_train_00003,신간 블록체인혁명 2030·남자의 고독사,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.06.13. 오전 11:49
4,ynat-v1_train_00004,이스라엘 정보당국 팔레스타인인 50명 테러 혐의로 체포,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.12.18. 오후 11:15

In [5]:
change

,ID,text,target,url,date,pred_target
0,ynat-v1_train_00024,1월 외국인 관광객 일본이 한국의 2배…격차 계속 확대되나,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.02.17. 오전 6:35,4
1,ynat-v1_train_00064,나경복 개인 첫 트리플크라운…우리카드 구단 최다 타이 5연승,0,https://sports.news.naver.com/news.nhn?oid=001...,2019.11.27 20:28,5
2,ynat-v1_train_00076,눈물 쏟은 문경은 선수 때 우승하고도 안 울었는데…,0,https://sports.news.naver.com/news.nhn?oid=001...,2018.04.18 21:50,5
3,ynat-v1_train_00084,빅텍 방위사업청에 60억원 규모 전자전장비 공급,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.12.26. 오후 2:43,1
4,ynat-v1_train_00128,3번 연기한 충북 기능경기대회 열려…일부 경기 차질,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2020.06.09. 오후 5:22,5
...,...,...,...,...,...,...
1094,ynat-v1_train_06811,이 총니 세종서 궁무회의 주재,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.04.16. 오전 10:26,2
1095,ynat-v1_train_06851,트럼프 우크라 대통령 통화 며칠전 원조중단 지시…탄핵론↑,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.09.24. 오후 5:49,4
1096,ynat-v1_train_06879,경북지사·포항시장 국무총리에 실질적 지진피해 구제 요청,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2020.08.11. 오전 10:53,2
1097,ynat-v1_train_06939,러시아 어린이 오디션 프로그램 우승자 투표 조작으로 떠들썩,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.05.17. 오전 1:03,4
1098,ynat-v1_train_06955,1608년 지도가 말하는 사실 남중국해는 상인의 바다,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.11.02. 오후 5:04,4

In [20]:
total2=total.copy()
change.loc[:,:'target']
total2.update(change.loc[:,:'target'])
total2

,ID,text,target,url,date
0,ynat-v1_train_00024,1월 외국인 관광객 일본이 한국의 2배…격차 계속 확대되나,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.03.16. 오전 11:37
1,ynat-v1_train_00064,나경복 개인 첫 트리플크라운…우리카드 구단 최다 타이 5연승,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.10. 오전 8:33
2,ynat-v1_train_00076,눈물 쏟은 문경은 선수 때 우승하고도 안 울었는데…,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.04.30. 오전 10:00
3,ynat-v1_train_00084,빅텍 방위사업청에 60억원 규모 전자전장비 공급,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.06.13. 오전 11:49
4,ynat-v1_train_00128,3번 연기한 충북 기능경기대회 열려…일부 경기 차질,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.12.18. 오후 11:15
...,...,...,...,...,...
6995,ynat-v1_train_06995,힐만 SK 감독 고통스럽지만 내 상황 솔직히 알려야 해,5,https://sports.news.naver.com/news.nhn?oid=001...,2018.10.13 15:46
6996,ynat-v1_train_06996,정의장 사드 국회동의 사안 아니라 쳐도 충분히 협의해야,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.07.17. 오후 6:20
6997,ynat-v1_train_06997,정치권 엘시티 수사 돌발변수에 촉각…왜 지금,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.11.16. 오후 6:24
6998,ynat-v1_train_06998,문 대통령 1987 관람…깜짝 방문에 객석 환호·박수종합,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.07. 오후 5:23
6999,ynat-v1_train_06999,120년 전 대한제국으로…가을밤 정동에서 시간 여행 떠나다,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.10.28. 오후 8:13

In [35]:
change2 = pd.merge(total['ID'], change.loc[:,:'url'],how='left', on='ID')
change2.update(total,overwrite=False)

In [37]:
change2.head()

,ID,text,target,url
0,ynat-v1_train_00000,개포2단지 분양 앞두고 개포지구 재건축 불붙어,1.0,https://news.naver.com/main/read.nhn?mode=LS2D...
1,ynat-v1_train_00001,삼성전자 KBIS 2018서 셰프컬렉션 선보여,0.0,https://news.naver.com/main/read.nhn?mode=LS2D...
2,ynat-v1_train_00002,LG G6 사면 BO 이어폰이 단돈 5천원,0.0,https://news.naver.com/main/read.nhn?mode=LS2D...
3,ynat-v1_train_00003,신간 블록체인혁명 2030·남자의 고독사,3.0,https://news.naver.com/main/read.nhn?mode=LS2D...
4,ynat-v1_train_00004,이스라엘 정보당국 팔레스타인인 50명 테러 혐의로 체포,4.0,https://news.naver.com/main/read.nhn?mode=LS2D...

In [ ]:
from g2pk import G2p
import pandas as pd

g2p = G2p()

train = pd.read_csv('../argument_data/train_notNoise.csv')
train['type']=0

train_per = train.copy()
train_des = train.copy()
train_per.type=1
train_des.type=2
train.to_csv('../argument_data/train_notNoise_type.csv', index =False)

train_per.text= train_per.text.apply(lambda x: g2p(x))
train_per.to_csv('../argument_data/train_notNoise_per.csv', index =False)

train_des.text= train_des.text.apply(lambda x: g2p(x,descriptive=True))
train_des.to_csv('../argument_data/train_notNoise_des.csv',index =False)